<!DOCTYPE html>
<html lang="es">


{% extends "layout.html" %}

{% block content %}
<h2>Mecánica respiratoria</h2>
<p>
<A HREF="https://teachmephysiology.com/respiratory-system/ventilation/mechanics-of-breathing/"> Mechanics of Breathing </A>
</p>
<p>
<A HREF="https://www.youtube.com/watch?v=wc2K1Olt4Q8"> Mechanism of Breathing, Animation </A>
</p>
<p>
<A HREF="https://www.youtube.com/watch?v=GD-HPx_ZG8I "> Mechanism of Breathing </A>
</p>
<p>
<A HREF="https://www.britannica.com/science/human-respiratory-system/The-mechanics-of-breathing "> The mechanics of breathing </A>
</p>

<h2>Aspectos principales</h2>
<p>
  <A HREF="https://my.clevelandclinic.org/health/articles/21205-respiratory-system"> Respiratory System </A>
</p>


<h2>Circuito respiratorio</h2>
<p>
  <A HREF="https://www.sciencedirect.com/topics/engineering/breathing-circuit"> Breathing Circuit </A>
</p>

<h2>Ventilación </h2>
<p>
  <A HREF="https://training.seer.cancer.gov/anatomy/respiratory/mechanics.html"> Mechanics of Ventilation </A>
</p>
<p>
  <A HREF="http://samples.jbpub.com/9781449698188/17097_ch02_sample.pdf"> Mechanics of Ventilation </A>
</p>
<p>
  <A HREF="https://www.youtube.com/watch?v=TsGAfub2wxA "> Ventilación Pulmonar </A>
</p>

<h2>Pulmones (capacidades)</h2>
<p>
  <A HREF="https://www.youtube.com/watch?v=9VdHhD1vcDU&t=131s"> Lung Function  </A>
</p>
<p>
  <A HREF="https://erj.ersjournals.com/content/26/3/511"> Standardisation of the measurement of lung volumes  </A>
</p>
<p>
  <A HREF="https://www.ncbi.nlm.nih.gov/books/NBK541029/"> Physiology, Lung Capacity  </A>
</p>

<h2>Resistencia aérea</h2>
<p>
  <A HREF="https://www.ncbi.nlm.nih.gov/books/NBK542183/ "> Physiology, Airway Resistance </A>
</p>
<p>
  <A HREF="https://www.youtube.com/watch?v=EBmPGDJD1lM"> Respiratory | Airway Resistance </A>
</p>

<h2>Intercambio gaseoso </h2>
<p>
  <A HREF="https://www.youtube.com/watch?v=6qnSsV2syUE "> Physiology, Airway Resistance </A>
</p>
<p>
  <A HREF="https://teachmephysiology.com/respiratory-system/gas-exchange/gas-exchange/ "> Gas Exchange </A>
</p>

<h2>Presión de agua </h2>
<p>
  <A HREF="https://www.youtube.com/watch?v=mBbZexUUL0o"> Respiration - Water Vapor </A>
</p>
<p>
  <A HREF="https://pubmed.ncbi.nlm.nih.gov/3169211/ "> Water vapour </A>
</p>

<h2>Capacidad de difusión </h2>
<p>
  <A HREF="https://www.ncbi.nlm.nih.gov/books/NBK556149/"> Diffusing Capacity Of The Lungs For Carbon Monoxide </A>
</p>
<p>
  <A HREF="https://www.youtube.com/watch?v=pSJpPkNzQnM"> What is diffusing capacity and why is it important? </A>
</p>

<h2>Pulmonary and Alveolar Ventilation</h2>
<p>
  <A HREF="https://www.youtube.com/watch?v=WwpVSaiSfbg "> Pulmonary and Alveolar Ventilation </A>
</p>
<p>
  <A HREF="https://pubmed.ncbi.nlm.nih.gov/1914488/"> Measurement of alveolar ventilation </A>
</p>


{% endblock %}